// Border Width Utilities
@each $size, $value in $border-widths {
  .border-#{$size} {
    border-width: $value !important;
    border-style: solid;
    border-color: var(--border-primary-color);
  }
}

// Border Style Utilities
@each $style in $border-styles {
  .border-#{$style} {
    border-style: $style !important;
  }
}

// Border Radius Utilities
@each $name, $value in $border-radius-values {
  .rounded-#{$name} {
    border-radius: $value !important;
  }
}

// Individual Side Border Utilities

@each $side in $border-sides {
  @each $size, $value in $border-widths {
    .border-#{$side}-#{$size} {
      border-#{$side}-width: $value !important;
    }
  }

  @each $color-name, $color-value in $colors {
    .border-#{$side}-#{$color-name} {
      border-#{$side}-color: $color-value !important;
    }
  }
}

// Border Reset Utility
.border-none {
  border: none !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

