@mixin dark {
  --accent-color: #{$primary-500};

  --light-color: #{$white};
  --dark-color: #{$black};

  --text-primary-color: #{$primary-50};
  --text-secondary-color: #{hex-to-rgba($primary-50, 0.75)};
  --text-tertiary-color: #{hex-to-rgba($primary-50, 0.5)};

  --surface-primary-color: #{$gray-900};
  --surface-secondary-color: #{$gray-700};
  --surface-tertiary-color: #{$gray-600};

  --scrollbarBG: var(--surface-secondary-color);
  --thumbBG: var(--surface-tertiary-color);
  //border
  --border-primary-color: #{$gray-600};
  --border-secondary-color: #{$gray-700};
  --border-tertiary-color: #{$gray-800};

  // Typography
  --link-text-color: #{$primary-400};
  --link-hover-color: #{$primary-500};
  --blockquote-border-color: #{$primary-600};
  --blockquote-text-color: var(--text-primary-color);
  --blockquote-bg-color: var(--surface-secondary-color);
  --hr-border-color: var(--border-primary-color);
  --figcaption-text-color: var(--text-secondary-color);
  --code-bg-color: var(--surface-secondary-color);

  //Button
  --button-primary-color: #{$primary-500};
  --button-primary-hover-color: #{$primary-300};
  --button-primary-text-color: #{$white};
  --button-primary-focus-ring-color: #{hex-to-rgba($primary-500, 0.4)};

  --button-highlight-border-color: #{hex-to-rgba($white, 0.2)};

  --button-error-color: #{$red-400};
  --button-error-hover-color: #{$red-300};
  --button-error-text-color: #{$white};
  --button-error-focus-ring-color: #{hex-to-rgba($red-400, 0.4)};

  --button-success-color: #{$green-400};
  --button-success-hover-color: #{$green-300};
  --button-success-text-color: #{$white};
  --button-success-focus-ring-color: #{hex-to-rgba($green-400, 0.4)};

  --button-info-color: #{$blue-400};
  --button-info-hover-color: #{$blue-300};
  --button-info-text-color: #{$white};
  --button-info-focus-ring-color: #{hex-to-rgba($blue-400, 0.4)};

  --button-warning-color: #{$orange-400};
  --button-warning-hover-color: #{$orange-300};
  --button-warning-text-color: #{$white};
  --button-warning-focus-ring-color: #{hex-to-rgba($orange-400, 0.4)};

  --button-light-color: #{$gray-50};
  --button-light-hover-color: #{$gray-100};
  --button-light-text-color: #{$gray-900};
  --button-light-focus-ring-color: #{hex-to-rgba($gray-200, 0.4)};

  --button-dark-color: #{$gray-600};
  --button-dark-hover-color: #{$gray-500};
  --button-dark-text-color: #{$white};
  --button-dark-focus-ring-color: #{hex-to-rgba($gray-500, 0.4)};

  --button-link-hover-color: #{$primary-500};
  --button-link-text-color: #{$primary-500};

  //Cards
  --card-bg-color: var(--surface-primary-color);
  --card-header-bg-color: var(--surface-secondary-color);
  --card-footer-bg-color: var(--surface-secondary-color);

  //inputs
  --input-bg-color: var(--surface-primary-color);
  --input-focus-ring-color: #{hex-to-rgba($primary-500, 0.25)};
  --input-focus-border-color: #{$primary-500};
  --input-valid-text-color: #{$green-500};
  --input-valid-border-color: #{$green-500};
  --input-focus-valid-ring-color: #{hex-to-rgba($green-400, 0.5)};
  --input-invalid-text-color: #{$red-500};
  --input-invalid-border-color: #{$red-500};
  --input-focus-invalid-ring-color: #{hex-to-rgba($red-500, 0.25)};
  --input-disabled-bg-color: var(--surface-secondary-color);

  //table
  --table-bg-color: var(--surface-primary-color);
  --table-accent-bg-color: var(--surface-secondary-color);
  --table-hover-bg-color: #{$gray-600};
  --table-border-color: var(--border-primary-color);

  //Nav
  --nav-primary-bg-color: #{$primary-500};
  --nav-primary-text-color: #{$white};
  --nav-primary-link-hover-color: #{hex-to-rgba($white, 0.2)};
  --nav-primary-dropdown-link-color: var(--text-primary-color);
  --nav-primary-dropdown-bg-color: var(--surface-secondary-color);

  //Circle Loader
  --loader-light-bg-color: #{hex-to-rgba($white, 0.7)};
  --loader-light-border-color: #{hex-to-rgba($white, 0.4)};

  --loader-dark-bg-color: #{hex-to-rgba($primary-300, 0.7)};
  --loader-dark-border-color: #{hex-to-rgba($primary-300, 0.4)};

  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.7);
  --shadow-default: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.7);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.2),
    0 2px 4px -1px rgba(0, 0, 0, 0.7);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -2px rgba(0, 0, 0, 0.7);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.2),
    0 10px 10px -5px rgba(0, 0, 0, 0.5);
  --shadow-2xl: 0 20px 25px -5px rgba(0, 0, 0, 0.6);
  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.7);
}
