// Button Base Mixin
@mixin button-variant($color,
  $hover-color,
  $text-color,
  $focus-ring,
  $type: solid) {
  @if $type ==solid {
    background-color: var($color);
    border-color: var($color);
    color: var($text-color);
    //making buttons look highlighted in dark modes
    border-top: 1px solid var(--button-highlight-border-color);
  }

  @else if $type ==outline {
    background-color: transparent;
    border-color: var($color);
    color: var($color);
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem var($focus-ring);
  }

  &:hover,
  &:active,
  &.active {
    @if $type ==solid {
      background-color: var($hover-color);
      border-color: var($hover-color);
      border-top: 1px solid var(--button-highlight-border-color);
    }

    @else if $type ==outline {
      background-color: var($color);
      color: var($text-color);
    }
  }
}

// Base button styles
.btn {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: $border-radius;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  //to make element in it look aligned
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    color 0.15s ease-in-out;

  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }

  &:active:not(.btn-group .btn) {
    transform: scale(0.95) translate3d(0, 0, 0);
  }

}

// Button Variants
.btn-primary {
  @include button-variant(--button-primary-color,
    --button-primary-hover-color,
    --button-primary-text-color,
    --button-primary-focus-ring-color);
}

.btn-error {
  @include button-variant(--button-error-color,
    --button-error-hover-color,
    --button-error-text-color,
    --button-error-focus-ring-color);
}

.btn-success {
  @include button-variant(--button-success-color,
    --button-success-hover-color,
    --button-success-text-color,
    --button-success-focus-ring-color);
}

.btn-warning {
  @include button-variant(--button-warning-color,
    --button-warning-hover-color,
    --button-warning-text-color,
    --button-warning-focus-ring-color);
}

.btn-info {
  @include button-variant(--button-info-color,
    --button-info-hover-color,
    --button-info-text-color,
    --button-info-focus-ring-color);
}

.btn-dark {
  @include button-variant(--button-dark-color,
    --button-dark-hover-color,
    --button-dark-text-color,
    --button-dark-focus-ring-color);
}

.btn-light {
  @include button-variant(--button-light-color,
    --button-light-hover-color,
    --button-light-text-color,
    --button-light-focus-ring-color);
}

// Outline Buttons
.btn-outline-primary {
  @include button-variant(--button-primary-color,
    --button-primary-hover-color,
    --button-primary-text-color,
    --button-primary-focus-ring-color,
    outline);
}

.btn-outline-error {
  @include button-variant(--button-error-color,
    --button-error-hover-color,
    --button-error-text-color,
    --button-error-focus-ring-color,
    outline);
}

.btn-outline-success {
  @include button-variant(--button-success-color,
    --button-success-hover-color,
    --button-success-text-color,
    --button-success-focus-ring-color,
    outline);
}

.btn-outline-warning {
  @include button-variant(--button-warning-color,
    --button-warning-hover-color,
    --button-warning-text-color,
    --button-warning-focus-ring-color,
    outline);
}

.btn-outline-info {
  @include button-variant(--button-info-color,
    --button-info-hover-color,
    --button-info-text-color,
    --button-info-focus-ring-color,
    outline);
}

.btn-outline-dark {
  @include button-variant(--button-dark-color,
    --button-dark-hover-color,
    --button-dark-text-color,
    --button-dark-focus-ring-color,
    outline);
}

.btn-outline-light {
  @include button-variant(--button-light-color,
    --button-light-hover-color,
    --button-light-text-color,
    --button-light-focus-ring-color,
    outline);
}

// Link Button
.btn-link {
  color: var(--button-link-text-color);
  text-decoration: underline;
  background: transparent;

  &:hover,
  &:focus,
  &:active {
    color: var(--button-link-hover-color);
  }
}

// Button Sizes
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
.btn-md {
  padding: 0.4rem 0.7rem;
  font-size: 0.875rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}

// Button block (full-width)
.btn-block {
  display: block;
  width: 100%;
}

.btn-round {
  border-radius: 1000px;
  padding: 1em;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  aspect-ratio: 1 / 1;
}

// Button Group
.btn-group {
  display: inline-flex;
  vertical-align: middle;

  .btn {
    position: relative;
    border-radius: 0;

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &:not(:first-child) {
      border-left: none;
    }
  }
}

// Optional: Spacing between button groups if they stack
.btn-group+.btn-group {
  margin-left: 0.5rem;
}


// Dropdown Base Styles
.dropdown {
  position: relative;
  display: inline-block;

  user-select: none;

  .dropdown-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: 2rem;

    &:after {
      content: "";
      position: absolute;
      border: solid currentColor;
      border-width: 0 2px 2px 0;
      padding: 3px;
      top: 46%;
      right: 1rem;
      transform: translateY(-50%) rotate(45deg);
      transition: transform .3s ease;
    }

    &[aria-expanded="true"]::after {
      transform: translateY(50%) rotate(-135deg);
    }

    // Remove the default arrow that comes with summary element
    &::-webkit-details-marker {
      display: none;
    }
  }

  &[open] .dropdown-toggle::after {
    transform: rotate(225deg); // Rotates the pseudo-element by 225deg
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--surface-secondary-color);
    min-width: 160px;
    box-shadow: var(--shadow-lg);
    z-index: 1;
    margin-top: 0.5rem;
    border-radius: $border-radius;
    border: 1px solid var(--border-primary-color);
    padding: 0.5rem 0;
  }

  .dropdown-item {
    padding: 0.5rem 1rem;
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: var(--text-primary-color);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;

    &:hover {
      background-color: var(--surface-tertiary-color);
    }
  }

  // When details is open, display the dropdown menu
  &[open] .dropdown-menu {
    display: block;
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-menu {
  animation: fadeIn 0.3s ease-out;
}