// Base input styles
.input,
.select,
.textarea,
.file-input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-primary-color);
    background-color: var(--input-bg-color);
    background-clip: padding-box;
    border: 1px solid var(--border-primary-color);
    border-radius: $border-radius;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none; // Normalize appearance

    &:focus {
        outline: none;
        border-color: var(--input-focus-border-color);
        box-shadow: 0 0 0 0.2rem var(--input-focus-ring-color);
    }

    &::placeholder {
        color: var(--text-secondary-color);
    }

    &:disabled {
        background-color: var(--text-secondary-color);
        opacity: 0.8;
    }
}

// Custom select styles
.select {
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><polyline points="2,4 6,8 10,4" stroke="%23cccccc" stroke-width="2" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 0.65rem 0.65rem;
    padding-right: 2rem; // Make room for chevron
}

.input-group {
    margin-bottom: 1rem;

    .helper-text {
        display: block;
        margin-top: 0.25rem;
        font-size: 0.875rem;
        color: var(--text-secondary-color);
    }
    .helper-text-invalid {
        display: block;
        margin-top: 0.25rem;
        font-size: 0.875rem;
        color: var(--input-invalid-text-color);
    }
    .helper-text-valid {
        display: block;
        margin-top: 0.25rem;
        font-size: 0.875rem;
        color: var(--input-valid-text-color);
    }
    
    .is-valid {
        color: var(--input-valid-text-color);
        border: 2px solid var(--input-valid-border-color);
        &:focus {
            box-shadow: 0 0 0 0.2rem var(--input-focus-valid-ring-color);
            border: 2px solid var(--input-valid-border-color);
        }
    }
    
    .is-invalid {
        color: var(--input-invalid-text-color);
        border: 2px solid var(--input-invalid-border-color);
        &:focus {
            box-shadow: 0 0 0 0.2rem var(--input-focus-invalid-ring-color);
            border: 2px solid var(--input-invalid-border-color);
        }
    }
}



// Checkbox and radio styles
.checkbox,
.radio {
    display: inline-block;
    margin-right: 0.5rem;

    & input[type='checkbox'],
    & input[type='radio'] {
        cursor: pointer;
        transform: scale(1.5);
        margin-right: 0.5rem;
        accent-color: var(--accent-color);
    }
}

// File input styles
.file-input {
    display: block;
    width: 100%;
}

// Range input styles
.range {
    & input[type='range'] {
        display: block;
        width: 100%;
        accent-color: var(--accent-color);
    }
}

.progress {
    accent-color: var(--accent-color);
}