// Base input styles
.input,
.select,
.textarea,
.file-input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-primary-color);
  background-color: var(--input-bg-color);
  background-clip: padding-box;
  border: 1px solid var(--border-primary-color);
  border-radius: $border-radius;
  box-shadow: 0 1px 2px 0 var(--input-shadow-color);
  -webkit-box-shadow: 0 1px 2px 0 var(--input-shadow-color);
  -moz-box-shadow: 0 1px 2px 0 var(--input-shadow-color);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none; // Normalize appearance
  &.input-small {
    padding: 0.2rem 0.5rem;
    font-size: 0.95rem;
    line-height: 1.5;
  }
  &:focus {
    outline-color: transparent;
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 0 0.2rem var(--input-focus-ring-color);
  }

  &::placeholder {
    color: var(--text-secondary-color);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--input-disabled-bg-color);
    opacity: 0.5;
  }
}

// Custom select styles
.select {
  background-image: $chevron-icon-data-url;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 0.65rem 0.65rem;
  padding-right: 2rem; // Make room for chevron
}

// File input styles
.file-input {
  display: block;
  width: 100%;
}

.input-group {
  margin-bottom: 1rem;

  .helper-text {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: var(--text-secondary-color);
  }

  .helper-text-invalid {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: var(--input-invalid-text-color);
  }

  .helper-text-valid {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: var(--input-valid-text-color);
  }

  .input-addon {
    position: relative;
    display: flex;
    align-items: center;
  }
  .leading-addon {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0.25rem;
    user-select: none;
  }

  .trailing-addon {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0.25rem;
    user-select: none;
  }

  .is-valid {
    border: 2px solid var(--input-valid-border-color);

    &:focus {
      box-shadow: 0 0 0 0.2rem var(--input-focus-valid-ring-color);
      border: 2px solid var(--input-valid-border-color);
    }
  }

  .is-invalid {
    border: 2px solid var(--input-invalid-border-color);

    &:focus {
      box-shadow: 0 0 0 0.2rem var(--input-focus-invalid-ring-color);
      border: 2px solid var(--input-invalid-border-color);
    }
  }
}

/* Switch styles */
.switch {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  padding-left: 3rem;
  align-items: center;
  line-height: 1.2;
  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: transparent;
    -moz-appearance: none;
    width: 0px;
    height: 0px;
    // Slider
    &::before {
      cursor: pointer;
      position: absolute;
      content: " ";
      height: 1rem;
      width: 1rem;
      left: 4px;
      top: 4px;
      background-color: var(--light-color);
      transition: 0.4s;
      border-radius: 50%;
      z-index: 2;
      transform: translateX(0);
    }
    // Slider background
    &::after {
      cursor: pointer;
      content: " ";
      position: absolute;
      display: block;
      width: 2.7rem;
      height: 1.5rem;
      left: 0;
      top: 0;
      background-color: var(--border-secondary-color);
      border: 2px solid var(--border-primary-color);
      transition: 0.4s;
      border-radius: 34px;
    }
    &:focus {
      &::after {
        box-shadow: 0 0 0 0.2rem var(--input-focus-ring-color);
        border: 2px solid var(--input-focus-ring-color);
      }
    }
    &:disabled {
      &::before {
        cursor: not-allowed;
        opacity: 0.2;
        border: 2px solid var(--text-secondary-color);
      }
      &::after {
        cursor: not-allowed;
        opacity: 0.3;
      }
    }
    // Checked state
    &:checked {
      &::before {
        transform: translateX(18px);
      }
      &::after {
        background-color: var(--accent-color);
      }
    }
  }
}

// Checkbox and radio styles
.radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding-left: 1.5rem;
  line-height: 1.2;
  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: transparent;
    -moz-appearance: none;
    width: 0;
    height: 0;
    &:before {
      cursor: pointer;
      position: absolute;
      content: " ";
      height: 1.3rem;
      width: 1.3rem;
      left: 3px;
      top: 0;
      background-color: var(--input-bg-color);
      transition: 0.4s;
      border-radius: 50%;
      border: 2px solid var(--border-primary-color);
      z-index: 2;
    }
    &:checked {
      &:before {
        background-color: var(--input-bg-color);
        border: 6px solid var(--accent-color);
      }
    }
    &:disabled {
      &:before {
        cursor: not-allowed;
        opacity: 0.5;
        background-color: var(--border-primary-color);
      }
    }
    &:focus {
      &:before {
        box-shadow: 0 0 0 0.2rem var(--input-focus-ring-color);
      }
    }
  }
}

.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding-left: 1.5rem;
  line-height: 1.2;
  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: transparent;
    -moz-appearance: none;
    width: 0;
    height: 0;
    &:before {
      cursor: pointer;
      position: absolute;
      content: " ";
      height: 1.3rem;
      width: 1.3rem;
      left: 3px;
      top: 0;
      border-radius: 20%;
      background-color: var(--input-bg-color);
      transition: 0.4s;
      border: 2px solid var(--border-primary-color);
      z-index: 2;
    }
    &:checked {
      &:before {
        transition: 0s;
        background-color: var(--accent-color);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-width='3' d='M5 13l4 4L19 7'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 15px;
      }
    }
    &:indeterminate:before {
      background-color: var(--accent-color);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath fill='%23ffffff' d='M19,13H5v-2h14v2Z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;
    }
    &:disabled {
      &:before {
        cursor: not-allowed;
        opacity: 0.5;
        border: 2px solid var(--border-secondary-color);
      }
    }
    &:focus {
      &:before {
        box-shadow: 0 0 0 0.2rem var(--input-focus-ring-color);
      }
    }
  }
}

/* Range Slider Styles */
.range {
  -webkit-appearance: none;
  width: 100%;
  height: 0.75rem;
  background: var(--border-primary-color);
  outline-color: transparent;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: $border-radius;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
  &::-webkit-slider-thumb {
    border: 2px solid var(--input-bg-color);
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: var(--accent-color);

    border-radius: 50%;
  }
  &::-moz-range-thumb {
    width: 1.5rem;
    border: 2px solid var(--input-bg-color);
    height: 1.5rem;
    background: var(--accent-color);

    border-radius: 50%;
  }
}
