
.circular-loader {
    display: inline-block;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
    border-width: 3px;
    border-style: solid;
    &.light{
      border-color: var(--loader-light-border-color);
      border-top-color: var(--loader-light-bg-color);
    }
    &.dark{
      border-color: var(--loader-dark-border-color);
      border-top-color: var(--loader-dark-bg-color);
    }
  }
  
  .circular-loader-sm{
    @extend .circular-loader;
    width: 1em;
    height: 1em;
    border-width: 4px;
  }
  .circular-loader-md{
    @extend .circular-loader;
    width: 2em;
    height: 2em;
    border-width: 6px;
  }
  .circular-loader-lg{
    @extend .circular-loader;
    width: 3em;
    height: 3em;
    border-width: 8px;
  }
  .circular-loader-xl{
    @extend .circular-loader;
    width: 4em;
    height: 4em;
    border-width: 10px;
  }
  