$primary-color: #007bff;
$error-color: #dc3545;
$success-color: #28a745;
$info-color: #17a2b8;
$white-color: #fff;
$black-color:#000;
$border-radius: 0.25rem;
$text-color: #1e1e1d;
$blockquote-border-color: $primary-color;
$blockquote-color: $text-color;
$hr-color: #1e1e1d;
$figcaption-color: $text-color;
$table-border-color: $text-color;
$code-bg-color: #dedede;
$pre-bg-color: #f2ecec;
$button-hover-darken-percentage: 10%;
$card-padding: 1.5rem;
$card-background-color: #ffffff;
$card-header-bg-color: rgba(0, 0, 0, 0.03);
$card-footer-bg-color: rgba(0, 0, 0, 0.03);
$input-placeholder-color: rgba(0, 0, 0, 0.6);
$input-disabled-bg-color: #e9ecef;
$footer-background-color: $primary-color; 
