//Combining all together
@import 'common/variables';
@import 'common/functions';
@import 'base/reset';
@import 'themes/light';
@import "themes/dark";
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    @include dark;
  }
}
[data-theme="dark"] {
  @include dark;
}
@import 'base/typography';
@import 'components/alerts';
@import 'components/accordion';
@import 'components/modal';
@import 'components/buttons';
@import 'components/inputs';
@import 'components/nav';
@import 'components/cards';
@import 'components/slideover';
@import 'components/steps';
@import 'components/tabs';
@import 'components/loader';
@import 'components/table';
@import 'components/avatars';
@import 'components/badges';
@import 'components/divider';
@import 'components/tooltips';
@import 'layout/grid';

@import 'utilities/borders';
@import 'utilities/colors';
@import 'utilities/display';
@import 'utilities/flexbox';
@import 'utilities/grid';
@import 'utilities/interactive';
@import 'utilities/position';
@import 'utilities/sizing';
@import 'utilities/typography';
@import 'utilities/visibility';
@import 'utilities/media';
@import 'utilities/shadows';
@import 'utilities/clearfix';

