// https://noeldelgado.github.io/shadowlord/#214ddf  15%

$primary-50: #c8d3f7;
$primary-100: #a6b8f2;
$primary-200: #859ded;
$primary-300: #6482e9;
$primary-400: #4268e4;
$primary-500: #214ddf;
$primary-600: #1c41be;
$primary-700: #17369c;
$primary-800: #122a7b;
$primary-900: #0d1f59;

$white: #ffffff;
$black: #111a33;


//dark-shades
/* for grays https://noeldelgado.github.io/shadowlord/#182447 13.9% */
$gray-50: #f9f9fa;
$gray-100: #d9dbe0;
$gray-200: #b9bcc7;
$gray-300: #989ead;
$gray-400: #787f94;
$gray-500: #58617a;
$gray-600: #384261;
$gray-700: #182447;
$gray-800: #151f3d;
$gray-900: #111a33;

$red-50: #ffebee;
$red-100: #ffcdd2;
$red-200: #ef9a9a;
$red-300: #e57373;
$red-400: #ef5350;
$red-500: #f44336;
$red-600: #e53935;
$red-700: #d32f2f;
$red-800: #c62828;
$red-900: #b71c1c;

$green-50: #E3F9E5;
$green-100: #C1EAC5;
$green-200: #A3D9A5;
$green-300: #7BC47F;
$green-400: #57AE5B;
$green-500: #3F9142;
$green-600: #2F8132;
$green-700: #207227;
$green-800: #0E5814;
$green-900: #05400A;

$orange-50: #FFE8D9;
$orange-100: #FFD0B5;
$orange-200: #FFB088;
$orange-300: #FF9466;
$orange-400: #F9703E;
$orange-500: #F35627;
$orange-600: #DE3A11;
$orange-700: #C52707;
$orange-800: #AD1D07;
$orange-900: #841003;

$blue-50: #e3f2fd;
$blue-100: #bbdefb;
$blue-200: #90caf9;
$blue-300: #64b5f6;
$blue-400: #42a5f5;
$blue-500: #2196f3;
$blue-600: #1e88e5;
$blue-700: #1976d2;
$blue-800: #1565c0;
$blue-900: #0d47a1;

$chevron-icon-data-url: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><polyline points="2,4 6,8 10,4" stroke="%23cccccc" stroke-width="2" fill="none"/></svg>');

$border-radius-small: 0.25rem;
$border-radius: 0.5rem;


$table-cell-padding: 0.75rem;
$table-striped-index: odd;
$card-padding: 1.5rem;

$tooltip-padding: 10px;
$tooltip-margin: 15px; // Distance from the element
$tooltip-border-radius: 4px;
$tooltip-arrow-size: 10px;

// Avatar sizes
$avatar-sizes: (
  'sm': 30px,
  'md': 50px,
  'lg': 70px,
  'xl': 100px,
);

$modal-widths: (
  'sm': 400px,
  'md': 700px,
  'lg': 900px,
  'xl': 1100px,
  'xxl': 1300px
);

// Slideover sizes
$slideover-sizes: (
  'sm': 400px,
  'md': 500px,
  'lg': 600px,
  'xl': 700px,
);

// Slideover transition duration
$slideover-transition-duration: 0.3s;

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px
);

$grid-columns-row: (1,2,3,4,5,6,7,8,9,10,11,12);


$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 2rem,
  6: 2.5rem,
  7: 3rem,
  8: 3.5rem,
  9: 4rem,
  10: 4.5rem,
);


$colors: (
  "primary": $primary-500,
  "secondary": $gray-500,
  "success": $green-500,
  "danger": $red-500,
  "warning": $orange-400,
  "info": $blue-400,
  "light": $gray-50,
  "dark": $gray-800,
);

$shadows: (
  'sm': "0 1px 2px 0 rgba(0, 0, 0, 0.05)",
  'default': "0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)",
  'md': "0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)",
  'lg': "0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)",
  'xl': "0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)",
  '2xl': "0 20px 25px -5px rgba(0, 0, 0, 0.25)",
  'inner': "inset 0 2px 4px 0 rgba(0, 0, 0, 0.06)",
  'none': "none"
);

$sizes: (
  '0': 0,
  '1': 1rem,
  '2': 2rem,
  '3': 3rem,
  '4': 4rem,
  '5': 5rem,
  '6': 6rem,
  '7': 7rem,
  '8': 8rem,
  '9': 9rem,
  '10': 10rem,
  '11': 11rem,
  '12': 12rem,
  '13': 13rem,
  '14': 14rem,
  '15': 15rem,
  '16': 16rem,
  '20': 20rem,
  '18': 18rem,
  '24': 24rem,
  '28': 28rem,
  '32': 32rem,
  '25': 25%,
  '50': 50%,
  '75': 75%,
  '100': 100%,
  'auto': auto,
  'full': 100%,
  'vh': 100vh,
  'vw': 100vw,
  'sm': map-get($breakpoints, 'sm') ,
  'md': map-get($breakpoints, 'md') ,
  'lg': map-get($breakpoints, 'lg') ,
  'xl': map-get($breakpoints, 'xl') ,
  'xxl': map-get($breakpoints, 'xxl') 
);

$font-sizes: (
  'xs': 0.75rem,
  // Extra Small
  'sm': 0.875rem,
  // Small
  'md': 1rem,
  // Medium (base size)
  'lg': 1.25rem,
  // Large
  'xl': 1.5rem,
  // Extra Large
  '2xl': 1.75rem,
  // 2X Large
  '3xl': 2rem,
  // 3X Large
  '4xl': 2.5rem,
  // 4X Large
  '5xl': 3rem // 5X Large
);

$font-weights: (
  'light': 300,
  'normal': 400,
  'medium': 500,
  'semi-bold': 600,
  'bold': 700,
  'extra-bold': 800,
  'black': 900 
);

$letter-spacings: (
  'tighter': -0.05em,    // Tighter letter spacing
  'tight': -0.025em,     // Slightly tight letter spacing
  'normal': 0,           // Default letter spacing
  'wide': 0.025em,       // Slightly wide letter spacing
  'wider': 0.05em,       // Wider letter spacing
  'widest': 0.1em        // Widest letter spacing
);

$line-heights: (
  'none': 1,
  'tight': 1.25,
  'snug': 1.375,
  'normal': 1.5,
  'relaxed': 1.625,
  'loose': 2
);

$border-widths: (
  '0': 0,
  '1': 1px,
  '2': 2px,
  '3': 3px,
  '4': 4px,
  '5': 5px
);
$border-styles: (
  solid,
  dashed,
  dotted,
  double,
  none
);
$border-radius-values: (
  'sm': 0.125rem,
  'md': 0.25rem,
  'lg': 0.5rem,
  'xl': 1rem,
  'full': 50%
);
$border-sides: (
  'top',
  'right',
  'bottom',
  'left'
);

$overflows: (
  auto,
  hidden,
  scroll,
  visible
);

$positions: (
  static,
  relative,
  absolute,
  fixed,
  sticky
);

$displays: (
  none,
  inline,
  inline-block,
  block,
  flex,
  inline-flex,
  grid,
  table,
  table-cell,
  table-row,
);

$object-fits: (
  contain,
  cover,
  fill,
  none,
  scale-down
);

$object-positions: (
  top,
  bottom,
  left,
  right,
  center
);
