// Variables
$grid-columns: 12;
$grid-gutter-width: 15px; // Base gutter width for all breakpoints


// Mixins
@mixin make-row() {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(#{$grid-gutter-width} / -2);
  margin-left: calc(#{$grid-gutter-width} / -2);
}

@mixin make-column($columns) {
  flex: 0 0 calc((100% / #{$grid-columns}) * #{$columns});
  max-width: calc((100% / #{$grid-columns}) * #{$columns});
  padding-right: calc(#{$grid-gutter-width} / 2);
  padding-left: calc(#{$grid-gutter-width} / 2);
}

// Container
.container {
  width: 100%;
  padding-right: calc(#{$grid-gutter-width} * 1.5);
  padding-left: calc(#{$grid-gutter-width} * 1.5);
  margin-right: auto;
  margin-left: auto;

  @each $break, $size in $breakpoints {
    @media (min-width: $size) {
      max-width: calc(#{$size} - #{$grid-gutter-width});
    }
  }
}

.container-fluid {
  width: 100%;
  padding-right: calc(#{$grid-gutter-width} / 2);
  padding-left: calc(#{$grid-gutter-width} / 2);
  margin-right: auto;
  margin-left: auto;
}

// Row
.row {
  @include make-row();
}

// Columns
@for $i from 1 through $grid-columns {
  .col-#{$i} {
    @include make-column($i);
  }
}

// Responsive columns
@each $breakpoint, $breakpoint-width in $breakpoints {
  @media (min-width: $breakpoint-width) {
    @for $i from 1 through $grid-columns {
      .col-#{$breakpoint}-#{$i} {
        @include make-column($i);
      }
    }
  }
}
